.publish-page {
  overflow: hidden;
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}
.publish-canvas {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  border-radius: 12px;
  height: 100vh;
  overflow-y: auto;
}

.next-publish {
  position: fixed;
  right: 50px;
  bottom: 40px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease,
    transform 0.1s ease;
}
.next-publish:hover {
  background-color: #4b4b4c;
}

.next-publish:active {
  transform: scale(0.97);
}
