.dashboard_app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f0f2f5;
}

.dashboard_main-content {
  flex: 1;
  border: 1px solid black;
  margin-right: 5px;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
}
.content-container {
  padding: 32px 40px;
  max-width: 100%;
}
