.form-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.pages-section {
  flex: 1;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.pages-list {
  flex: 1;
  padding: 0 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.page-item {
  padding: 12px 16px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 16px;
  color: #000;
  transition: all 0.2s ease;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  color: #a4afbb;
  padding: 1px;
  cursor: pointer;
}

.delete-icon.active {
  color: #000;
  background-color: #dce0e4;
}

.delete-icon:hover {
  color: #f32105;
}

.page-name {
  display: inline-block;
  cursor: pointer;
}

.page-item:hover {
  background-color: #e7eef5;
}

.page-item.active {
  background-color: #dce0e4;
  font-weight: 500;
}

.add-page-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  margin: 16px 20px 0 20px;
  background-color: #e7eef5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  transition: all 0.2s ease;
  font-weight: 400;
}

.add-page-btn:hover {
  background-color: #a4afbb;
}

.add-icon {
  font-size: 18px;
}
